.memory-panel {

    /*background-image: url("../assets/dominik-vanyi-5Fxuo7x-eyg-unsplash.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Zilla Slab', serif;
    color:ivory;
    font-size: 3rem;
    text-align: center;
    height: 1350px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.memory-panel p {
    
    width: 800px;
    padding: 50px;
    border-radius: 30px;
}


h1 {
    font-size: 8rem;
    color: #343434;
    font-family: 'Zilla Slab', serif;
    text-align: center;
}


body {
    background-color: #aa4465;
        margin: 0;
          padding: 0;
    
}

.worldMusicIcon {
    height: 120px;
margin: 10px 0px 0px 30px;
}

.pageTitle {
display: flex;
align-items: center;
justify-content: center;
height: 200px;

}

.restart-button:hover {
    box-shadow: 7px 7px #343434;
    transform: scale(1.1);
}
.restart-button:active {
    box-shadow: 2px 2px #343434;
    transform: scale(0.95);
}

h2 {
    color: #aa4465;
    font-size: 3rem;
    background-color: #ffd23f;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px #343434;
}

.play-button {
    color: #aa4465;
    font-size: 4rem;
    background-color: #ffd23f;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px #343434;
    text-decoration: none;
}

.play-button:hover {
    color: #aa4465;
    font-size: 4rem;
    background-color: #ffd23f;
    padding: 25px 30px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 7px 7px #343434;
    transform: scale(1.1);
}


.menu {
    display: flex;
    justify-content:space-evenly;
    font-family: 'Zilla Slab', serif;
    margin-top: 0;
}


.game-board {
    width: 530px;
    height: 550px;
    padding: 50px 90px ;
    border: 5px solid #ffd23f;
    border-radius: 100px 100px;
    background-color:#ffd23f;
    box-shadow: 5px 10px #343434;
    position: relative;
    right: 180px;
    top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info-card {
    width: 800px;
    height: 1000px;
    background-color:#343434;
    border-radius: 15px;
    position: relative;
    left: 100px;
    bottom: 50px;
    border: 5px dotted bisque;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.info-card img {
 height: 550px;
}

.match-message {
    color:beige;
    font-family: 'Zilla Slab', serif;
    text-align: center;
    font-size: 3.5rem;
}

.info-message {
    color:beige;
    font-family: 'Zilla Slab', serif;
    text-align: center;
    font-size: 2.5rem;
    
}


.note-green, .note-black {
    height: 100px;
   /* margin: 15px;*/
    
}

.game-section {
    background-image: url("../assets/georg-arthur-pflueger-54jz7ax_jcg-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    height: 900px;
    width: 1500px;
    margin: 50px auto 50px auto; 
    display: flex;

} 

.note-card {
    position:relative;
    /*border: 2px solid greenyellow;*/
}

.note-card:hover {
    transform: scale(1.15);
    opacity: 0.75;
}

.note-card:active {
    transform: scale(1);
}

.pair-matched {
    opacity: 0;
}
.pair-matched:hover {
    opacity: 0;
}

.note-black {
    position: relative;
}

.note-green {
    position: absolute;
}

.clicked {
    visibility: hidden;
}

.info-card {
    visibility: hidden;
}

